.fuse*
*.o
*_dmd
*_ldc
*_ldc2
*_gdc
multimonitor
other/

AppDir/
appimage-builder-cache/
*.AppImage




.dub
docs.json
__dummy.html
docs/
/multimonitor
multimonitor.so
multimonitor.dylib
multimonitor.dll
multimonitor.a
multimonitor.lib
multimonitor-test-*
*.exe
*.o
*.obj
*.lst

*.gcov
*.gcov.json.gz

*.core
